<div class="mx-5">
        <div class="w-full">

            <form class="p-5" method="POST" enctype="multipart/form-data" action="/resource/create">
                <input 
                    class="block shadow border rounded w-full p-2"
                    placeholder="Title"
                    name="title"
                    type="text"
                    required
                />
                <input
                    class="block py-3"
                    type="file"
                    name="resource-file"
                    required
                />

                <select name="chapterId" required>
                    <% if(subject.chapters) { %>
                        
                        <% for(chapter of subject.chapters) { %>
                            <option value="<%= chapter._id %>"><%= chapter.name %></option>

                        <% } %>
                    <% } %>
                </select>                   
                <input
                    type="hidden"
                    name="subjectId"
                    value="<%= subject._id %>"
                />
                <button class="p-2 rounded bg-blue-500 mt-2" type="submit">Add Resource</button>
            </form>
        </div>
</div>