<div class="p-4 flex-col justify-between items-center shadow-md h-screen bg-indigo-400 w-14rem hidden md:flex">
    <div class="w-full text-left">
        <p class=" text-white text-4xl p-5 font-bold">LPMS</p>
        <p class="text-gray-900 p-5 text-xl"><a href="/subjects">Subjects</a></p>
    </div>
    <div class="bg-white text-center w-full ">
        <form class="font-bold text-indigo-400  py-4 " action="/logout" method="post"><input class = "hover:cursor-pointer" type="submit" value="Logout"></form>
    </div>
</div>

<div class="md:hidden w-100 bg-indigo-400">
    <div class="w-100 flex flex-row justify-between">
        <p class=" text-white p-4 text-2xl font-bold">LPMS</p>
        <p class=" text-grey-900 p-4 text-2xl"><a href="/subjects">Subjects</a></p>
        <p class=" text-white p-4 text-2xl">Logout</p>
    </div>
</div>