<!-- <div class="p-4 flex-col justify-between items-center shadow-md h-screen bg-indigo-400 w-14rem hidden md:flex">
    <div class="w-full text-left">
        <p class=" text-white text-4xl p-5 font-bold">LPMS</p>
        <p class="text-gray-900 p-5 text-xl"><a href="/subjects">Subjects</a></p>
    </div>
    <div class="bg-white text-center w-full ">
        <form class="font-bold text-indigo-400  py-4 " action="/logout" method="post"><input class = "hover:cursor-pointer" type="submit" value="Logout"></form>
    </div>
</div>

<div class="md:hidden w-100 bg-indigo-400">
    <div class="w-100 flex flex-row justify-between">
        <p class=" text-white p-4 text-2xl font-bold">LPMS</p>
        <p class=" text-grey-900 p-4 text-2xl"><a href="/subjects">Subjects</a></p>
        <p class=" text-white p-4 text-2xl">Logout</p>
    </div>
</div> -->


<div>
  <nav class="py-4  bg-blue-400 text-white text-base">
    <ul class="flex ">
        <li class="px-5 mr-14 text-xl font-bold">LPMS</li>
        <li class="font-bold text-lg mr-4 "><a href="/subjects">Subjects</a></li>
        <li class="absolute right-0 h-16 pr-20 rounded-full">
        <form class="rounded-full bg-indigo-700 px-10 py-1 hover:bg-indigo-900" action="/logout" method="post"><input class = "hover:cursor-pointer" type="submit" value="Logout"></form>
  
      </li>
    </ul>
  </nav>
</div>



<!-- 
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #7980e9;">
  <a class="navbar-brand" href="#">LPMS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
    <div class="bg-white text-center ">
      <form class="font-bold text-indigo-400  py-4" action="/logout" method="post"><input class = "hover:cursor-pointer" type="submit" value="Logout"></form>
    </div>
  </div>
</nav> -->






