<%- include('components/header') %>
<div class="h-screen w-full flex">
    <div class="m-auto flex flex-col">
        <div class="text-center py-4">
            <h1 class="text-4xl">404!</h1>
        </div>
        
        <div class="text-center text-2xl">
            <h3 class="py-4">Page not found</h3>
            
            <a href="/" class="text-blue-500 text-xl">Go to Home</a>
        </div>
    </div>
</div>
<%- include('components/footer') %>